* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


main {
  background: #161622;
  padding: 20px;
  width: 420px;
  max-width: 95vw;
}

/* Display input area styling */
#input_values {
  width: 100%;
  height: 80px;
  border: none;
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 15px;
  font-size: 24px;
  background: #363c7c;
  color: white;
  text-align: right;
  pointer-events: none; /* Prevent typing inside input, display only */
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.box {
  display: grid;
  grid-template-columns: 3.5fr 2fr; /* Wider numbers area than symbols */
  gap: 15px;
}

/*Parent */
.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 60px);
  gap: 10px;
}

.symbols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 60px) 60px;
  gap: 10px;
}

/* Buttons Styling*/
.btn {
  border: none;
}

.btn_clear {
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn_clear img {
  width: 50%;
  height: auto;
  object-fit: contain;
}


.numbers .btn {
  background-color: #404258;
  color: white;
  font-size: 25px;
  border-radius: 29px;
}

.symbols .btn {
  background-color: #f49d1a;
  color: white;
  font-size: 30px;
  border-radius: 30px;
}

/* Special styling for equals button*/
#equals {
  background-color: #c0c0c0;
  color: black;
  grid-column: span 2;
  font-size: 40px;
}

.btn:hover {
  filter: brightness(1.15);
}

/* History section under the calculator */
#history {
  margin-top: 20px;
  color: rgb(130, 118, 118);
  opacity: 0.5;
  font-size: 14px;
  max-height: 100px;
  overflow-y: auto; /* Scroll if history is long */
}

#history ul {
  list-style-type: none;
  padding-left: 0;
}

#history li {
  margin-bottom: 5px;
}

/* Responsive for screens that are smaller than 420px*/
@media (max-width: 420px) {
  main {
    width: 95vw; /* Make calculator fit screen */
  }

  .btn {
    font-size: 16px; /* Reduce button text size */
  }

  #inputValue {
    height: 50px; /* Reduce display height */
    font-size: 20px;
  }

  .numbers {
    grid-template-rows: repeat(4, 50px); /* Reduce button height */
  }

  .symbols {
    grid-template-rows: repeat(4, 50px);
  }
}
